* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, arial, sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;

}

.main {
    width: 100%;
    height: 100%;

}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main h1 {
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: 16vw;
    color: #3581baab;
    font-weight: 900;
    letter-spacing: 6px;
}

.cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0092ff;
    position: absolute;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}